*{
    box-sizing: border-box !important;
    margin: 0px;
    /*background-color: black;*/
    font-family: 'Khula', sans-serif;

}


.header_nav{
    background: orangered;
    height: 3em;
    border-style: none;
    z-index: 10000;
    width: 100%;
    position: fixed;
    color: #1F1D1D;
}
.header_nav h1{
    font-weight: 500;
    height: inherit;
    left: 1.25em;
    position: absolute;
}

.header_nav h1:hover{
    color: #FFF;

}
.header_nav h1 a {
    font-size: 1.5em;
}

.header_nav nav{
    height: inherit;
    line-height: inherit;
    position: absolute;
    top:1em;
    right: 1.25em;
}

.header_nav nav > ul {
    height: inherit;
    list-style: none;
}
.header_nav nav> ul > li {
    display: inline-block;
}

.header_nav nav>ul>li>a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding-left: 2em;
}

.header_nav nav>ul>li>a:hover{
    color: #E5E8F1;
    }


.header{
    /*position: relative;*/
    background: orangered;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20em 0; 
    text-align: center;
}

.header  h2{
    font-size: 50px;
    color: rgba(7, 236, 8, 0.97);
    width: 300px;
    margin: 0 40%;
    padding: 3px;
    top: 0;

}

.header h2:hover{
    color: #FFF;
}

.banner{
    background-image: url("../img/italian-cars.jpg");
}
.subscribe > ul{
    list-style: none;
}
.subscribe > ul >li{
    display: inline-block;
}
input[type=text] {
    width: 500px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    color: #FFF;
    font-size: 15px;
    font: bold;
}

.subscribe > ul > li > a{
    padding: 4px 8px;
    text-align: center;
    border-style: none;
    border-color: none;
    border-radius: 10px;
    text-decoration: none;
    background-color: orangered;
    color:#fff;
    font-size: 20px;
}

.subscribe > ul >li >a:hover{
    background-color: #FFF;
    color:black;
}

.paragraph{
    padding: 1em;
    margin: 0 10%;
    color: rgba(7, 236, 8, 0.97);
}