
*{
    margin: 10;
    padding: 20;
}

body{
    background: #fff;
}

.header-top {
    position: relative;
    z-index: 6;
    height: 166px;
    background-color: #361C7C;
    color: #fff;
    font-size: 14px;
}

.header-top .container {
    height: 166px;
}

.header-top .pclass {
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;

}
.header-top .pclass .aclass{
    color: #fff;
    text-decoration: none;

}


.nav {
    margin-top: 5px;
    padding-top: 2px;
    padding-right: 500px;
    padding-left: 500px;
    padding-bottom: 2px;
    background-color: #361C7C;
    overflow: hidden;
}

.nav a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}

#header{
    color: black;
    font: italic; 
}

.header2 {
    text-align: center;
    font-size: 45px;
    color: #C063D3;
}

.header3 h3 {
    padding-top: 10px;
    color: #313F3F;

}

.footer {
        margin-top: 10px;
        position: relative;
        z-index: 6;
        height: 166px;
        background-color: #361C7C;
        color: #fff;
        font-size: 14px;
    }





