*{
    margin: 10;
    padding: 20;
}

body{
    background: dimgray;
}

#header{
    color: violet;
}


.p1{
    color: blue;
}
.p2{
    color: blueviolet;
}


h2{
    color: red;
}

div#id1 p.note{
    font-weight: 900;
    color: #444400;
}




